.chart{
    display: flex;
}
.products{
    flex: 0.75;
    background-color: white;
}
.product{
    display: flex;
    width: 150%;
    height: 190px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
    background-color:white;
}
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2) ;
    transform: scale(1.01);
}
.product>img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.product> img:hover{
    transform: scale(1.04);
}
.product-info{
padding: 20px;
width: 100%;
position: relative;
}
.product-name, .product-price, .product-offer{
    margin-bottom: 20px;
}

.product-quantity> input{
    width: 40px;
    padding: 5px;
    text-align: center;
}
.fa{
    margin-right: 5px;
}

.small{
    display: flex;
    flex-direction: column;
}
.me1{
    background-color: whitesmoke;
   
}
.big{
    display: flex;
    flex-direction: row;
    background-color: white;
   
}
.zoo{
    margin-left: 25px;
}
.we1{
   
    margin-left: 25px;
    color: orange;
    border-bottom: 2px orange solid;
}
.we2{
  
    margin-left: 45px;
}
.mod{
    width: 20px;
    height: 20px;
}
.mod1{
    margin-left: 20px;
}
span{
    margin-left: 20px;
}
.supper_container{
    display: flex;
    flex-direction: row;
}
.container1{
    
    width: 700px;
}
.inner1{
    background-color:white;
    display: flex;
    flex-direction: row;
}
.btn{
    background-color:limegreen;
    color: whitesmoke;
    border-style: none ;
}
.page{
    
    margin-bottom: 20px;
    border: 2px whitesmoke solid;
}
.page1{
    background-color: rgb(193, 189, 189);
    border: 5px solid ;
    margin-bottom: 20px;
    border: 2px whitesmoke solid;
}